In [ ]:
# import necessary packages here
import warnings
warnings.filterwarnings('ignore')

1. Load the pandas library, and alias it so you can use `pd` instead of typing `pandas` each time you need to access the package.

2. Load the penguin and titanic datasets from GitHub. Store them in `penguins` and `titanic` respectively.

In [ ]:
import pandas as pd

penguins = pd.read_csv("https://raw.githubusercontent.com/ywen2021/CPSC392/main/Data/penguins.csv")
titanic = pd.read_csv("https://raw.githubusercontent.com/ywen2021/CPSC392/main/Data//titanic.csv")

3. Print the head (first 5 or 6 rows) of each data set.

In [ ]:
penguins

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,63,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,64,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,65,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,66,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,67,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

4. Store the sex column from the titanic dataset in the variable `sex`. Print it.

In [ ]:
sex = titanic["sex"]
sex = titanic.sex

5. Store the 10th row from the penguin dataset in the variable `penguins_10`. Print it.

6. Grab the 4th,12th rows of the titanic dataset and store them in the variable `passenger4_and_12`. Print it.

7. Store the mean age of titanic passengers in the variable `mean_age`, print it.

8. Create a new column in `penguins` called `bill_ratio` for the penguin dataset that contains the ratio of bill length to bill depth (in otherwords bill length divided by bill depth). Print out this column.

9. Create a new data frame called `lil_boys` that only contains penguins that have a body mass less than 4000 grams. Print the first 4 rows of this dataframe.

10. What is the mean bill length for each species of penguin? Store the means in the variables `bl_Adelie`, `bl_Chinstrap` and `bl_Gentoo` respectively. Print them out.

11. Which class from the titanic dataset had the highest proportion of surviors? Print out the proportion of people who survived for each class.

12. Is there a difference in the average fare paid between males and females in the titanic dataset? Use pandas to find your answer.

13. Create a dataframe called `small_penguin` that has all the rows from `penguins` but only the columns `bill_length_mm`, `species` ,`bill_depth_mm` , `flipper_length_mm` , and `body_mass_g`
14. delelte `flipper_length_mm` from dataframe `small_penguin`

15. Using .info() and .describe() on dataframe `small_penguin` to see what you can get
16. use groupby on dataframe `small_penguin` to get species average bill length
17. get data from `small_penguin` where bill length less than 39 and bill depth less than 18, print it